/* universal styling*/ 
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Poppins:wght@200&display=swap');
*{ 
      margin: 0; 
      padding: 0;    
}

html { scroll-behavior: smooth; 
  overflow-y: scroll; 
  scroll-snap-type: y mandatory;}
  
body {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Poppins', sans-serif;
      background-color: white; 
      overflow: hidden; 
}

.container {
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
 
} 
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  
}

/* home page styling*/ 
    /* header of home section styling*/ 

section#home { 
  background: linear-gradient(90deg, rgba(255,213,241,0.9) 10%, rgba(225,214,242,0.9) 31%, rgba(191,216,243,0.9) 57%, rgba(192,244,232,0.9) 88%);
  border-top-left-radius: 2rem; 
  border-top-right-radius: 2rem; 
}


.navigation-bar {
    width: 100%;  
    height: 88px; 
    background-color: #ffffff; 
    border-top-left-radius: 2rem; 
    border-top-right-radius: 2rem; 
    position: absolute; 
    top: 0;     
}

.logo {
    vertical-align: top;
    float: left; 
    margin-left: 10px;
    width: 90px;
    height: 90px;
    margin-top: 0.1px;  
    cursor: pointer;  
}
.navigation-bar  a {
    float: right; 
    padding: 30px; 
    font-size: 18px; 
    text-decoration: none; 
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #808080; 
    cursor: pointer;

}

.navigation-bar a:hover {
    
    text-decoration: underline 5px #C5E1F1; 
    font-size: 19px; 
    color: gray; 
  }

.navigation-bar a:active{ 
    text-decoration: underline 5px #C5E1F1; 
    font-size: 19px; 
    color: gray; 
}



.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    letter-spacing: .15em; 
    padding: 30px; 
    height: 50%;  
    width: 90%; 
    
}

.header-message{ 
      padding: 20px; 
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); 
      width: 90%;    
}


  

h1{ 
    font-size: 90px;
    color:white; 
    font-family: 'Comfortaa'; 
    line-height:120px; 

}

.header-message p { 
    color:white;  
    font-size: 32px; 
    font-family: 'Poppins', sans-serif;
    padding: 30px; 
}


.btn1{ 
  background: #EAEDF9; 
  box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border: none; 
    border-radius: 30px; 
    padding: 15px 30px; 
    top: 90%;
    left: 50%;
      transform: translate(-50%, -50%); 
   position: absolute;
    color: grey; 
}

.btn1:hover{ 
  font-size: 17px;
}


 

  .custom-shape-divider-bottom-1614810142 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1614810142 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1614810142 .shape-fill {
    fill: #ffffff; 
}

    /* section hire me styling*/ 

.grid{ 
    display: grid; 
    grid-gap: 50px; 
    grid-template-rows: 5;
    grid-template-columns: 1fr 2fr 1fr;  
}

.item1{ 
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row: 1; 
    margin-left: 5%;   
}

.item1 img{ 
  width:639px; 
  height: 633px; 
}

.item2{ 
    grid-column-start: 2; 
    grid-column-end: 5; 
    padding: 50px; 
    margin-top: 5%; 

}


.item2 h2{ 
  font-size: 40px; 
  line-height: 50px; 
  color: gray; 
  font-family: 'Comfortaa'; 
  text-align: left; 
  padding-bottom: 50px; 
  text-decoration: underline 5px #C5E1F2; 
}

.item2 p{ 
  font-size: 20px; 
  line-height: 35px; 
  color:#747474;  
  text-align: left; 
  font-family: 'Poppins', sans-serif;
  padding-bottom: 50px; 
}

.btn2{ 
  background: #EAEDF9; 
  box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border: none; 
    border-radius: 30px; 
    padding: 15px 30px; 
    margin-right: 430px; 
    color: grey; 
}

.btn2:hover{ 
  font-size: 17px;
}





  


  /* footer styling */ 
  .footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%; 
    padding-top: 80px; 
    background: linear-gradient(90deg, rgba(255,213,241,0.9) 10%, rgba(225,214,242,0.9) 31%, rgba(191,216,243,0.9) 57%, rgba(192,244,232,0.9) 88%);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #5E5E5E; 
    line-height: 30px;
  }

  .footer-message{ 
    margin-left: 20%; 
    padding-bottom: 30px; 
    margin-top: 0px; 
   
  } 

  .footer-message p{ 
    text-align: left; 
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    padding-bottom: 10px; 
    color:#747474;  
  }

  .footer p{ 
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    padding-bottom: 10px; 
    color:#747474;  

  }

  .footer h3{ 
    font-size: 40px;
    color: white;  
    font-family: 'Comfortaa'; 
    padding-bottom: 20px; 
    cursor: pointer; 
    text-align: left; 
  }

  .btn3{ 
    background-color: white; 
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border: none; 
    border-radius: 30px; 
    padding: 15px 30px; 
    margin-right: 1010px; 
    color: grey; 
  }
  
  .btn3:hover{ 
    font-size: 17px;
    
  }

  
  a{ 
      text-decoration: none;
  }




/* begin responsive styling*/ 
/*mobile devices*/ 
@media only screen and (max-width: 600px) {
  /*header section*/ 
    
      
    
    h1{ 
        font-size: 70px;
        line-height:100px; 
    
    }
    
    .header-message p { 
        font-size: 20px; 
    }
    
    
    .btn1{ 
        top: 100%;  
    }
    
    .custom-shape-divider-bottom-1614810142 svg {
        height: 80px;
    }
    
    
        /* section hire me styling*/ 
    
    .grid{ 
        grid-gap: 10px; 
    }
    
    .item1{ 
      grid-column: 2; 
      grid-row: 1; 
      margin-top: 37%;   
      margin-right: 5%;   
    }
    
    .item1 img{ 
      width:439px; 
      height: 433px; 
    }
    
    .item2{ 
      grid-column: 2; 
      grid-row: 3; 
      position: relative; 
      top: 18%;
      left: 50%;
      transform: translate(-50%, -50%); 
      width: 500px; 
    
    }
    
    
    .item2 h2{ 
      font-size: 32px;
      line-height:65px; 
      padding-left: 40px; 
      padding-bottom: 0px; 
    }
    
    .item2 p{ 
      padding-left: 40px; 
      padding-right: 40px; 
      width: 430px; 
      font-size: 15px; 
      line-height: 30px; 
      padding-bottom: 15%; 
      
    }
    
    .btn2{ 
      display: none; 
    }
    
    
    
  /*footer section*/ 


  .footer {
      padding-top: 30px; 
      line-height: 20px;
    }
    
    .btn3{ 
      margin-top: 2px; 
      margin-right: 70%; 
      margin-bottom: 0; 
      }

    
    .footer-message p{ 
      font-size: 15px; 
      line-height: 15px; 
      margin-bottom: 3%; 
    }
    
    .footer-message{
      margin-left: 40px; 
    }
    
    .footer p{ 
      
      font-size: 15px;
     
    
    }
    
    .footer h3{ 
      font-size: 32px;
      margin-bottom: 3%; 
      
    }
}











