
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Poppins:wght@200&display=swap');
*{ 
      margin: 0; 
      padding: 0;    
}

html { scroll-behavior: smooth; 
  overflow-y: scroll; 
  scroll-snap-type: y mandatory;}
  
body {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Poppins', sans-serif;
      background-color: white; 
      overflow: hidden; 
}

.container {
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
 
} 
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  
}

section#home { 
  background: linear-gradient(90deg, rgba(255,213,241,0.9) 10%, rgba(225,214,242,0.9) 31%, rgba(191,216,243,0.9) 57%, rgba(192,244,232,0.9) 88%);
  border-top-left-radius: 2rem; 
  border-top-right-radius: 2rem; 
}



.glass{ 
  right: 50%; 
  left: 50%; 
  min-height: 70vh; 
  width: 60%; 
  background-color: #E0F1EF; 
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
  box-shadow: 
  12px 12px 16px 0 rgba(0, 0, 0, 0.25),
  -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  
}

.navigation-bar {
      width: 100%;  
      height: 88px; 
      background-color: #ffffff; 
      border-top-left-radius: 2rem; 
      border-top-right-radius: 2rem; 
      position: absolute; 
      top: 0; 
      
      
  }
  .logo {
      vertical-align: top;
      float: left; 
      margin-left: 10px;
      width: 90px;
      height: 90px;
      margin-top: 0.1px;  
      cursor: pointer;  
  }
  .navigation-bar  a {
      float: right; 
      padding: 30px; 
      font-size: 18px; 
      text-decoration: none; 
      align-items: center;
      font-family: 'Poppins', sans-serif;
      color: gray; 
      cursor: pointer;

  }

  .navigation-bar a:hover {
      
      text-decoration: underline 5px #CDDBE4; 
      font-size: 19px; 
    }

.navigation-bar a:active{ 
      
      text-decoration: underline 5px #A5ACFF; 
      font-size: 19px; 
}



.welcomeMessage {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); 
      letter-spacing: .15em; 
    }

    

h1{ 
      font-size: 46px;
      color: gray;;  
      font-family: 'Comfortaa'; 
}

    p { 
      color: gray; 
      font-size: 17px; 
      font-family: 'Poppins', sans-serif;
     
    }



    .circle {
      border-radius: 50%;
      box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
      position: absolute; 
      height: 50px;
      width: 50px;
      top: 20%; 
      right: 30%; 
      opacity: 50%; 
      background: linear-gradient(to right bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.3));


    } 


    .circle2 {
      border-radius: 50%;
      box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
      position: absolute; 
      height: 20px;
      width: 20px;
      top: 50%; 
      left: 30%; 
      opacity: 50%; 
      background: linear-gradient(to right bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.3));


    }


    .circle3 {
      border-radius: 50%;
      position: absolute; 
      height: 400px;
      width: 400px;
      top: 50%; 
      left: 70%; 
      box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
      opacity: 50%; 
      background: linear-gradient(to right bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.3));


    }

    
    .circle4 {
      border-radius: 50%;
      position: absolute; 
      box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
      height: 100px;
      width: 100px;
      top: 20%; 
      left: 5%; 
      opacity: 50%; 
      background: linear-gradient(to right bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.3));


    }

    .circle5 {
      border-radius: 50%;
      position: absolute; 
      box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
      height:250px;
      width: 250px;
      top: 50%; 
      left: 5%; 
      opacity: 50%;
      background: linear-gradient(to right bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.3));

      
    }

    
    .custom-shape-divider-bottom-1614810142 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);
  }
  
  .custom-shape-divider-bottom-1614810142 svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 150px;
  }
  
  .custom-shape-divider-bottom-1614810142 .shape-fill {
      fill: #ffffff; 
  }

  .custom-shape-divider-bottom-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

    
}

.custom-shape-divider-bottom-1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1 .shape-fill {
fill: #EEE8F3; 
}


.custom-shape-divider-bottom-1615396962 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1615396962 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
}

.custom-shape-divider-bottom-1615396962 .shape-fill {
  fill: #ffffff;
}

label{ 
  font-family: 'Poppins', sans-serif;
  color: gray; 
}


  


section#about{ 
  position: relative;
  background: #ffffff; 
} 

.gradient{ 
  position: absolute;
  top: 40%; 
  left: 25%; 
  transform: translate(-50%, -50%);  
}



.btn1 {
  border: 1px solid  rgba(255, 255, 255, 0.3);
  text-decoration: none;
  cursor: pointer;
  color: gray; 
  padding: 15px 30px;
  margin-top: 40px;
  margin-left: 20px; 
  display: inline-block;
  border-radius: 30px;
  background: linear-gradient(to right bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.3));
  box-shadow: 
  12px 12px 16px 0 rgba(0, 0, 0, 0.25),
  -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;

}

.btn2 {
   border: 1px solid  rgba(255, 255, 255, 0.3);
  text-decoration: none;
  cursor: pointer;
  color: gray; 
  padding: 15px 30px;
  margin-top: 40px;
  margin-left: 20px; 
  display: inline-block;
  border-radius: 30px;
  background: linear-gradient(to right bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.3));
  box-shadow: 
  12px 12px 16px 0 rgba(0, 0, 0, 0.25),
  -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
 

  }

.btn1:hover{ 
  background:  #A5ACFF; 
  color: #ffffff; 
  font-size: 17px; 
}

.btn2:hover{ 
  background:  #A5ACFF; 
  color: #ffffff; 
  font-size: 17px; 
}


.rectangle {
  width: 500px;
  height: 400px;
  background: linear-gradient(90deg, rgba(199,245,235,0.3925945378151261) 5%, rgba(191,216,243,0.38699229691876746) 46%, rgba(255,217,242,0.3169642857142857) 93%);
  border-radius: 2rem;
  display: flex; 
}

.frame{ 
  height: 400px; 
  width: 500px; 
  background: linear-gradient(to right bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.3));
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(1rem);
  display: flex;
  box-shadow: 
  12px 12px 16px 0 rgba(0, 0, 0, 0.25),
  -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.holder{ 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  position: absolute; 
}

.holder img{ 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  position: absolute; 
  width: 400px;
  height: 400px;
  border-radius: 2rem;

}

.holder img:hover{ 
  opacity: 50%; 
}

.grid-container {
  display: grid;
  grid-gap: 15px;
}

.aboutHeader { 
  top: 22%; 
  padding: 50px; 
  left: 42%; 
  transform: translate(-50%, -50%); 
  position:inherit;   
  width: 500px;
  height: 400px;
  font-family: 'Poppins', sans-serif;
  border-radius: 2rem;
  text-align: left; 
} 

h2{ 
  font-size: 32px;
  color: gray;;  
  font-family: 'Comfortaa'; 
  
}

section#work { 
  background-color: #EEE8F3; 
}


.grid {
  display: inline-grid;
  grid-gap: 1.5rem; 

}


.item1{ 
  grid-row: 1; 
  grid-column-start: 1; 
  grid-column-end: 2; 
  border-radius: 2rem; 
  width: 400px; 
  height: 400px; 
  position: relative; 
}

.item1 img{ 
  opacity: 60%; 
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  display:block; 
  
}


.itemText{ 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px; 
  height: 400px; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: white; 
  border-radius: 2rem; 
}

.itemText:hover { 
  opacity: 70%; 

}

.itemText h3{ 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  color:white;  
  font-family: 'Comfortaa'; 
}

.itemText p{ 
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color:white;  
  font-family: 'Poppins', sans-serif;
}

.item2{ 
  grid-row: 1; 
  grid-column-start: 3; 
  grid-column-end: 4; 
  border-radius: 2rem; 
  width: 400px; 
  height:400px; 
  position: relative; 
}

.item2 img{ 
  opacity: 60%; 
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  display:block; 
  
}

.item3{ 
  grid-row: 1; 
  grid-column-start: 5; 
  grid-column-end: 6; 
  border-radius: 2rem; 
  width: 400px; 
  height: 400px; 
  position: relative; 
}

.item3 img{ 
  opacity: 60%; 
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  display:block; 
  
}

.header h2{ 
  top: 2%; 
  padding: 50px; 
  left: 50%;
  position:inherit;   
  border-radius: 2rem;
  text-align: center; 
  justify-content: center;
  align-items: center;
}

.scroll{ 
  color: gray;
  width: 100%;  
  cursor: pointer; 
}
.scroll a:link {
  text-decoration: none;
  cursor: pointer; 
 color: gray; 
  
}

.scroll a:visited {
  text-decoration: none;
  color: gray; 
  cursor: pointer; 

}

.scroll a:hover {
  text-decoration: none;
  color: gray; 
  
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}






















